/* google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom styles */

body {
    background-color: #0a101e;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

h1,
h2,
h3,
h4,
h5,
h6,
small {
    color: #FDC545;
}

/* sections */
.education__section {
    background-color: #070D1B;
}

/* end of sections stylin */

.animate__text {
    display: inline-block;
    color: #A9ACB9;
    font-size: 2rem;
    margin-top: .5em;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 4s steps(80, end);
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext {
    from {
        width: 0;
        transition: all 2s ease-in-out;
    }
}

/* navbar */

.nav-link {
    color: white;
}

.nav__bar a:hover {
    color: #FDC545;
}




.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #FDC545;

}

/* end of navbar */

/* rows and col customization */
.row {
    margin-top: 4rem;
}

/* buttons */

.btn {
    width: fit-content;
    border-radius: 2em;
    border: 1px solid #FDC545;
    padding: 1em 2em;
    transition: transform .5s ease-in-out, box-shadow .2s ease-in-out;


}

.btn:hover {
    box-shadow: .5em .2em .3em #FDC545;
    transform: translateY(-2px);
}

.light {
    background-color: #FDC545;
    color: black;

}

.light:hover {
    background-color: #FDC545;
    border: 1px solid #FDC545;
    color: black;

}

.light,
.outline {

    font-weight: bold;
    transition: background-color .5s ease-in, color .3s ease-in;
}

.outline:hover {
    background-color: #FDC545;
    color: black;
    border: 1px solid #FDC545;
}

.outline {
    color: white;
}

.projects__btn {
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}

.projects__btn:hover,
.projects__btn:focus,
.projects__btn:active {
    color: #FDC545;
}

/* end of buttons */





.hero__border {
    border: 1px solid #4c4e4e;
}

.social__network {
    cursor: pointer;
    background-color: #0a101e;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 50%;
    color: #A8ACB8;
}

.icon {
    font-size: 1.5em;
}

.linkedIn,
.github,
.twitter {
    transition: padding .5s ease-in;
    border: 1px solid #808181;
}

.linkedIn:hover::after,
.linkedIn:active,
.linkedIn:focus {

    content: 'LinkedIn';
    font-weight: bold;
    color: #FCFEFE;
}


.linkedIn:hover,
.twitter:hover,
.github:hover {
    border-radius: 2em;
    padding: 1em 2em;
}


.twitter:hover::after {
    content: 'Twitter';
    font-weight: bold;
    color: #FCFEFE;
}

.github:hover::after {
    content: 'Github';
    font-weight: bold;
    color: #FCFEFE;
}

.card {
    background-color: #101624;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;

}

.card,
.cards {
    border: 1px solid #1a202c;

}


.svg {
    color: #4e515a;
    width: 5em;
    height: 5em;

}

.card,
.cards,
.svg,
.card-title,
.technologies {
    transition: color .5s ease-in-out;
}


.card:hover .svg,
.card:hover .card-title,
.card:hover .technologies {
    color: #FDC545 !important;
}


.card:hover .cards,
.card:hover .technologies {
    border: 1px solid #FDC545 !important;
}



.container__area {
    padding-top: 10rem;
    padding-bottom: 5rem;

}







.section__heading::before {
    content: 'About Me';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    /* border-bottom: 3px solid #3E4550; */


}

.text-underline {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;

}

.text-underline:after {
    content: "";
    display: block;
    border-bottom: 3px solid #3E4550;
    margin-top: .5em;
    width: 170px;

}

.text-underline:before {
    content: "";
    display: block;
    background-color: #FDC545;
    height: 2px;
    width: 50%;
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translateY(-2.5px);

}

.footer__container {
    border-top: 1px solid white;
    margin-top: 4em;
}

/* education section */

.first__col {
    position: relative;
    border-left: 2px solid #4c4e4e;
    transition: all 1s ease-in-out;
}

.first__col::before {
    content: " ";
    width: 10px;
    display: block;
    height: 10px;
    border: 2px solid #4c4e4e;
    background-color: #0a101e;
    position: absolute;
    border-radius: 50%;
    transform: translate(-6px, -10px);


}

.first__col:hover::before {
    background-color: #FDC545;
}


/* forms and input */
.form-control {
    background-color: #111625;
    padding: .8em 1em;
    color: #A9ACB9;
    border: 1px solid #222934;

}


.form-control::placeholder {
    color: #616268;
}

.form-control:focus {
    background-color: #111625;
    border: 1px solid #FDC545;
    color: #A9ACB9;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;


}

/* Skills and progress bars*/


.skills__section {
    background-color: #282829;
}

/* .container .main-title {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
    font-family: helvetica;
} */

/* .container .main-title h1 {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
}

.container .main-title h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.container .main-title h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
}

.main-title p {
    color: #808080;
} */

.container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.row .col {
    flex-basis: 46%;
}

.row .sub-title h2 {
    position: relative;
    font-size: 22px;
    margin-bottom: 30px;
}

.row .sub-title h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.row .sub-title h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #FDC545;
}


.CircularProgressbar .CircularProgressbar-path {
    stroke: #FDC545 !important;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #A9ADB8 !important;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #A9ADB8 !important;
}

.skills {
    width: 100%;
    max-width: 600px;
}

.skill-name {
    margin: 0.5em 0;
    font-size: 18px;
    font-weight: thin;
    color: #A9ADB8;
    text-transform: uppercase;
}

.skill-bar {
    height: 5px;
    background-color: #A9ADB8;
    border-radius: 1em;
}

.skill-proficiency {
    height: 5px;
    background-color: #FDC545;
    border-radius: 1em;
    position: relative;
    animation: fillBars 2.5s 1;
}



.skill-proficiency::before {
    content: attr(skillProficiency);
    position: absolute;
    padding: 4px 6px;
    background-color: transparent;
    border: 1px solid #FDC545;
    border-radius: 0.2em;
    font-size: .8em;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    color: #FDC545;
    font-weight: bold;
}



@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* End of skills */



/* Contact information */

.contact__info a {
    border: 1px solid rgb(63, 62, 62);
    transition: all .8 ease-in-out;
}

.contact__info a:hover {
    border: 1px solid #FDC545;
}


/* project section */


.outer__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid 1px;
    /* Add your desired border color */
    padding: 10px;
    /* Add padding as needed */
}

.outer__div img {

    transition: transform 0.5s ease-out;
}


.outer__div:hover img {
    filter: blur(1px);
    transform: scale(1.1);
    overflow: hidden;

}



.outer__div:hover img+div {
    display: block;
}

.outer__div {
    position: relative;
}

.inner__div {
    display: flex;
    position: absolute;
    border: 1px solid white;
    width: 95%;
    height: 92%;
    bottom: 0;
    top: 10px;
    left: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;



}

.technologies {
    border: 1px solid #FDC545;
    border-radius: 1em;
}

.active{
    color: #FDC545;
}


/* end of projects */

/* media queries for medium and small screen sizes*/

@media (max-width: 928px) {
    .btn {
        padding: 1em;
    }

    .heading {
        margin-top: 1em;
    }

    .navbar-collapse {
        opacity: 0;
    }

    .navbar-collapse.show {
        opacity: 1;
        transition: all 1s;
    }

}

/* navbar fade effect */